<section class="slide whiteSlide barrio">
  {{> navBar/fullNav }}
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <!-- Slide contents -->
        <ul class="flex verticalCenter">
          <li class= "col-12-12"><h1> Barrio Series</h1>

          <li class="col-2-12 popupTrigger" data-popup-id="img1"><img src={{ @root.barrios.portfolio.img1.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img2"><img src={{ @root.barrios.portfolio.img2.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img3"><img src={{ @root.barrios.portfolio.img3.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img4"><img src={{ @root.barrios.portfolio.img4.src }} alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img5"><img src={{ @root.barrios.portfolio.img5.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img6"><img src={{ @root.barrios.portfolio.img6.src }}  alt=''/></li>

          <li class="col-2-12 popupTrigger" data-popup-id="img7"><img src={{ @root.barrios.portfolio.img7.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img8"><img src={{ @root.barrios.portfolio.img8.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img9"><img src={{ @root.barrios.portfolio.img9.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img10"><img src={{ @root.barrios.portfolio.img10.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img11"><img src={{ @root.barrios.portfolio.img11.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img12"><img src={{ @root.barrios.portfolio.img12.src }} alt=''/></li>

          <li class="col-2-12 popupTrigger" data-popup-id="img13"><img src={{ @root.barrios.portfolio.img13.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img14"><img src={{ @root.barrios.portfolio.img14.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img15"><img src={{ @root.barrios.portfolio.img15.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img16"><img src={{ @root.barrios.portfolio.img16.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img17"><img src={{ @root.barrios.portfolio.img17.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img18"><img src={{ @root.barrios.portfolio.img18.src }}  alt=''/></li>

          <li class="col-2-12 popupTrigger" data-popup-id="img19"><img src={{ @root.barrios.portfolio.img19.src }}  alt=''/></li>
          <li class="col-2-12 popupTrigger" data-popup-id="img20"><img src={{ @root.barrios.portfolio.img20.src }}  alt=''/></li>

        </ul>

        {{!--popup img1--}}
        <section class="popup" data-popup-id="img1">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img1.src }} class="" alt=""/>
                  {{!--<span class="button actionButton"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left"></use></svg></span>

                  <span class="button actionButton popupTrigger" data-popup-id="img2"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use></svg></span>--}}
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img1.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img1.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img2--}}
        <section class="popup" data-popup-id="img2">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img2.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img2.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img2.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img3--}}
        <section class="popup" data-popup-id="img3">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img3.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img3.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img3.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img4--}}
        <section class="popup" data-popup-id="img4">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img4.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img4.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img4.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img5--}}
        <section class="popup" data-popup-id="img5">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img5.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img5.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img5.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img6--}}
        <section class="popup" data-popup-id="img6">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img6.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img6.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img6.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img7--}}
        <section class="popup" data-popup-id="img7">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img7.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img7.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img7.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img8--}}
        <section class="popup" data-popup-id="img8">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img8.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img8.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img8.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img9--}}
        <section class="popup" data-popup-id="img9">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img9.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img9.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img9.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img10--}}
        <section class="popup" data-popup-id="img10">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img10.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img10.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img10.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img11--}}
        <section class="popup" data-popup-id="img11">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img11.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img11.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img11.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img11--}}
        <section class="popup" data-popup-id="img11">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img11.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img11.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img11.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img12--}}
        <section class="popup" data-popup-id="img12">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img12.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img12.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img12.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img13--}}
        <section class="popup" data-popup-id="img13">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img13.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img13.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img13.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img14--}}
        <section class="popup" data-popup-id="img14">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img14.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img14.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img14.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img15--}}
        <section class="popup" data-popup-id="img15">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img15.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img15.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img15.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img16--}}
        <section class="popup" data-popup-id="img16">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img16.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img16.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img16.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img17--}}
        <section class="popup" data-popup-id="img17">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img17.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img17.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img17.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img18--}}
        <section class="popup" data-popup-id="img18">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img18.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img18.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img18.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img19--}}
        <section class="popup" data-popup-id="img19">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img19.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img19.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img19.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>

        {{!--popup img20--}}
        <section class="popup" data-popup-id="img20">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap">
              
                
                <div class="fix-7-12">
                  <img src={{ @root.barrios.portfolio.img20.src }} class="" alt=""/>
                </div>

                <div class="fix-8-12">
                  <h2 class="ae-5 fronLeft">{{ @root.barrios.portfolio.img20.title }}</h2>
                  <div class="ae-6 fromrRight">
                    <p>{{ @root.barrios.portfolio.img20.size }}</p>
                    {{!--<a href="#" class="button pink cropBottom ae-7 fromCenter">inquire about purchasing</a>--}}
                  </div>
                </div>
                
                <ul class="grid">

                    <li class="col-6-12">
                      <a href="#" class="popupTrigger" data-popup-id="contact">inquire about purchasing</a>
                    </li>
                    <li class="col-6-12">
                      <a href="#" style="font-size:1.5em;" data-popup-action="close">&#x24cd;</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </div>
        </section>
        {{!--popup Contact Form--}}
        <div class="popup animated" data-popup-id="contact">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap spaces">
              
                <h1 class="ae-1">gaspar enríquez - Barrio Series</h1>
                <div class="ae-2"><p>All print are giclee (zhee-klay), and are generated from high resolution digital scans and printed with archival quality inks. </p></div>
                <div class="fix-5-12 margin-top-6">
                  <div class="pad shadow selected ae-3 popupContent">
                    <form action="ajax-email.php" method="post" class="wide center" data-ajax-form="true">
                      <div class="label ae-4 cropTop"><label class="cropTop opacity-5" for="name55">Your name</label></div>
                      <input class="stroke ae-5 wide" id="name55" type="name" name="name" placeholder="Name" required/>
                      <div class="label ae-6"><label class="opacity-5" for="email55">Email address</label></div>
                      <input class="stroke ae-7 wide" id="email55" type="email" name="email" placeholder="Email" required/>
                      <div class="label ae-8"><label class="opacity-5" for="message55">Message</label></div>
                      <textarea class="left ae-9" id="message55" type="text" name="message" placeholder="Message" required></textarea>
                      <input class="button wide pink ae-10 margin-top-2 cropBottom" type="submit" name="submit" value="Send message" data-success-text="Done!" data-success-class="green"/>
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>