{{> navBar/logoWithSideNav }}
<section class="slide whiteSlide barrio">
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <h2 class="h1 padding-bottom-4">Barrio Series</h2>
        <!-- Slide contents -->
        <ul class="grid masonry fixedSpaces">
          {{#each @root.barrios.portfolioImages}}
            <li class="col-2-12">
              <div class="zoom">
                <a href="barrio-series-feature.html#{{ this.src }}">
                  <figure class="image-effect__scale-up">
                    <img src="{{ @global.baseurl }}/assets/barrio/jpg/{{ this.src }}.jpg"  alt='{{ this.title }}'/>
                  </figure>
                </a>
              </div>
            </li>
          {{/each}}
        </ul>


      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>


{{!-- <li class="col-2-12">
  <div class="zoom">
    <a href="barrio-series-feature.html#{{ this.src }}">
      <img src="/assets/barrio/{{ this.src }}.png"  alt='{{ this.title }}'/>
    </a>
  </div>
</li> --}}
