<section class="slide whiteSlide portfolio">
  {{> navBar/fullNav }}
  <div class="content">
    <div class="container">
      <div class="wrap">
      
        <!-- Slide contents -->
        <ul class="flex verticalCenter">
          <li class= "col-12-12"><h1> Portfolio (Series)</h1>

          <li class="col-4-12 padding-top-4"><a href="barrio.html"><img src={{ @root.mainPortfolio.series1.src }} alt=''/></a></li>
          <li class="col-4-12 padding-top-4"><img src={{ @root.mainPortfolio.series2.src }}  alt=''/></li>
          <li class="col-4-12 padding-top-4"><img src={{ @root.mainPortfolio.series3.src }}  alt=''/></li>

          <li class="col-4-12 padding-top-4"><img src={{ @root.mainPortfolio.series4.src }}  alt=''/></li>
          <li class="col-4-12 padding-top-4"><img src={{ @root.mainPortfolio.series5.src }}  alt=''/></li>
          <li class="col-4-12 padding-top-4"><img src={{ @root.mainPortfolio.series6.src }}  alt=''/></li>

        </ul>

      </div>{{!--end wrap--}}
    </div>{{!--end container--}}
  </div>{{!--end content--}}
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>