<!-- <section class="slide whiteSlide page-5"> -->
  <div class="content">
    <div class="container">
      <div class="wrap left featureWrapBottom">
      
        <!-- Slide contents -->
        <div class="grid equal">
          <div class="col-6-12 equalElement left">
            <h2 class="series-title uppercase">{{@root.artists.title}}</h2>
            <p class="tab">
              {{@root.artists.description}}</p>
            <div class='rellax' data-rellax-speed='.4'>
              <svg class="symbol symbol-L"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-2"></use></svg>
            </div>
            
              
          </div>
          
          <div class="col-6-12 equalElement right">
            <a href="{{@global.baseurl}}portfolio/artist-series/">
            <img src="{{@global.baseurl}}assets/artist/jpg/{{@root.artists.portfolioImages.0.src}}.jpg" width="660" alt="" class=""></a>
            <h2 class="">{{@root.artists.portfolioImages.0.title}}</h2>
            <p class="">
            <sub>
            {{@root.artists.portfolioImages.0.medium}},&nbsp;&nbsp;
            {{@root.artists.portfolioImages.0.size}}<br>
            {{@root.artists.portfolioImages.0.year}}&nbsp;&nbsp;{{@root.artists.portfolioImages.0.collection}}</sub>
            </p>
            <div class="rellax center" data-rellax-speed='-.2'>
              <svg class="symbol symbol-S"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-3"></use></svg><br>
            </div>
              <p>
                <a href="{{@global.baseurl}}portfolio/artist-series/" class="artist-link">Artist Portfolio</a>
              </p>
            
          </div>
      </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
<!-- </section> -->
