
 <!--Beginning of Section for all features, Commissions has the ending tag, !!Barrios always needs to start and Commissions always needs to end or we need to change the section tags  -->
<section class="slide whiteSlide page-2">
  <div class="content">
    <div class="container">
      <div class="wrap left featureWrapBottom">
        
        <!-- Slide contents -->
        <div class="grid equal">          
          <div class="col-6-12 equalElement">
                <a href="{{@global.baseurl}}portfolio/barrio-series/">
                <img src="{{@global.baseurl}}assets/barrio/jpg/{{ @root.barrios.portfolioImages.3.src }}.jpg" width="100%" alt="" class=""></a>
                <h3 class="">{{ @root.barrios.portfolioImages.3.title }}</h3>
                <p class="">
                <sub>
                {{ @root.barrios.portfolioImages.3.medium }},&nbsp;&nbsp;{{ @root.barrios.portfolioImages.3.size }}<br>
                {{ @root.barrios.portfolioImages.3.year }},&nbsp;&nbsp;<i>{{ @root.barrios.portfolioImages.3.collection }}</i></sub>
                </p>
          </div>

          <div class="col-6-12 equalElement left">
            <div class="ae-3">
              <h2 class="series-title uppercase">{{ @root.barrios.title }}</h2>
              <p class="tab">
                {{ @root.barrios.description }}
              </p>
              <div class="rellax right" data-rellax-speed="1">
                <svg class="symbol symbol-L"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-2"></use></svg>
                <p>
                  <a href="{{@global.baseurl}}portfolio/barrio-series/" class="portfolio-link barrio-link">Barrio Portfolio</a>
                </p>
              </div>              
            </div>
          </div>

      </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
<!-- </section> -->
