<!-- <section class="slide whiteSlide page-3"> -->
  <div class="content">
    <div class="container">
      <div class="wrap left featureWrapBottom">

        <!-- Slide contents -->
        <div class="grid equal">
            <div class="col-12-12 center" style="margin-bottom:20px">
              <h2 class="series-title uppercase">{{ @root.charros.title }}</h2>
              <a href="{{@global.baseurl}}portfolio/charros-series/">
              <img src="{{@global.baseurl}}assets/charro/jpg/{{ @root.charros.portfolioImages.3.src }}.jpg" width="100%" alt=""></a>
            </div>

          <div class="col-6-12 equalElement">
            <p class="tab">{{ @root.charros.description }}</p>
          </div>

          <div class="col-6-12 equalElement left">
            <h2 class="">{{ @root.charros.portfolioImages.3.title }}</h2>
            <p class="">
              <sub>
              {{ @root.charros.portfolioImages.3.medium }},  {{ @root.charros.portfolioImages.3.size }}<br>
              {{ @root.charros.portfolioImages.3.year }},  {{ @root.charros.portfolioImages.3.collection }}</sub>
            </p>
            <div class="rellax left" data-rellax-speed="1">
              <p class="center">
                <svg class="symbol symbol-L"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-3"></use></svg>
<<<<<<< HEAD
                <a href="{{@global.baseurl}}portfolio/charros-series/"class="charros-link">Charros Portfolio</a>
=======
                <a href="{{@global.baseurl}}portfolio/charros-series/"class="portfolio-link charros-link">Charros Portfolio</a>
>>>>>>> cc93b3f81793d9797937cb1b58780bd11015cf9e
              </p>
            </div>
          </div>


        </div>
      </div><!--end wrap-->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
<!-- </section> -->
