<!-- <section class="slide whiteSlide page-5"> -->
  <div class="content">
    <div class="container">
      <div class="wrap left featureWrapBottom">
      
        <!-- Slide contents -->
        <div class="grid equal">
          <h2 class="series-title uppercase">{{@root.commissions.title}}</h2>
          <div class="col-6-12 equalElement left">
            <p class="">
              {{@root.commissions.description}}</p>
            <div class="left rellax" data-rellax-speed='-.2'>
              <svg class="symbol symbol-XL"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-4"></use></svg>
            </div>
          </div>
          
          <div class="col-6-12 equalElement right">
            <a href="{{@global.baseurl}}portfolio/commissions-series/">
            <img src="{{@global.baseurl}}assets/commissions/jpg/{{ @root.commissions.portfolioImages.12.src }}.jpg" width="660" alt="" class=""></a>
            <h2 class="">{{{@root.commissions.portfolioImages.12.title}}}</h2>
            <p class="">
            <sub>
            {{@root.commissions.portfolioImages.12.medium}},&nbsp;&nbsp;
            {{@root.commissions.portfolioImages.12.size}}<br>
            {{@root.commissions.portfolioImages.12.year}},&nbsp;&nbsp;{{@root.commissions.portfolioImages.12.collection}}</sub>
            </p>
            <div class="right rellax" data-rellax-speed='.2'>
<<<<<<< HEAD
              <p class="center">
                <svg class="symbol symbol-s"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-6"></use></svg>
                <a href="{{@global.baseurl}}portfolio/commissions-series/" class="commissions-link">Public Art Portfolio</a>
              </p>
=======

              <p>
              <svg class="symbol symbol-s"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-6"></use></svg>
              <a href="{{@global.baseurl}}portfolio/commissions-series/" class="portfolio-link">Public Art Portfolio</a>
                </p>
>>>>>>> cc93b3f81793d9797937cb1b58780bd11015cf9e
            </div>
          </div>
      </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>
