<!-- <section class="slide whiteSlide page-4"> -->
  <div class="content">
    <div class="container">
      <div class="wrap left featureWrapBottom">
      
        <!-- Slide contents -->
        <div class="grid equal">
          <div class="col-6-12 left equalElement">
            <a href="{{@global.baseurl}}portfolio/sculpture-series/">
              <img src="{{@global.baseurl}}assets/sculpture/jpg/{{ @root.sculpture.portfolioImages.0.src }}.jpg"width="100%" alt=""></a>
              <h1 class="">{{@root.sculpture.portfolioImages.0.title}}</h1>
              <p class="" style="margin-bottom: 0px">
              <sub>
              {{ @root.sculpture.portfolioImages.0.medium }},  {{ @root.sculpture.portfolioImages.0.size }}<br>
              {{ @root.sculpture.portfolioImages.0.year }},  {{ @root.sculpture.portfolioImages.0.collection }}</sub>
              </p>
          </div>

          <div class="col-6-12 equalElement">
            <h2 class="series-title uppercase">{{@root.sculpture.title}}</h2>
            <p class="tab">{{@root.sculpture.description}}</p>
            <div class="rellax right" data-rellax-speed=".5">
              <p class="center">
                <svg class="symbol symbol-XL"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-4"></use></svg>
                <a href="{{@global.baseurl}}portfolio/sculpture-series/" class="sculpture-link">Sculpture Portfolio</a>
              </p>
            </div>
          </div>
      </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
<!-- </section> -->
