<!-- <section class="slide whiteSlide page-6"> -->
  <div class="content">
    <div class="container">
      <div class="wrap left featureWrapBottom">
      
        <!-- Slide contents -->
        <div class="grid equal">
          <div class="col-6-12 left equalElement">
            <!-- title for <= phablet -->
            <h3 class="series-title uppercase showForPhablet" style="display:none;"><a href="{{@global.baseurl}}portfolio/tattoos-series/" class="tattoos-link">Tattoos Portfolio</a></h3>

            <a href="{{@global.baseurl}}portfolio/tattoos-series/">
            <img src="{{@global.baseurl}}assets/tattoo/jpg/{{ @root.tattoos.portfolioImages.0.src }}.jpg" width="100%" alt="" class="" style="filter:contrast(110%);"></a>
              <h2 class="">{{@root.tattoos.portfolioImages.0.title}}</h2>
              <p class="">
            <sub>
            {{@root.tattoos.portfolioImages.0.medium}}&nbsp;&nbsp;
            {{@root.tattoos.portfolioImages.0.size}}<br>
            {{@root.tattoos.portfolioImages.0.year}}&nbsp;&nbsp;{{@root.tattoos.portfolioImages.0.collection}}</sub>
              </p>
          </div>
          
          <div class="col-6-12 left equalElement">
            <!-- <h2 class="series-title uppercase">{{@root.tattoos.title}}</h2> -->
            <h3 class="series-title uppercase hideForPhablet"><a href="{{@global.baseurl}}portfolio/tattoos-series/" class="tattoos-link">Tattoos Portfolio</a></h3>
            
            <!-- <P class="tab">
            {{@root.tattoos.description}}</p> -->
          
            <div class='rellax left hideForPhablet' data-rellax-speed='0'>
              <p class="center">
                <svg class="symbol symbol-XL"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#motif-1"></use></svg>
                <!-- <a href="{{@global.baseurl}}portfolio/tattoos-series/" class="tattoos-link">Tattoos Portfolio</a> -->
              </p>
              
            </div>
          </div>

          
      </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
<!-- </section> -->
