<section class="slide whiteSlide page-5">
  <div class="content">
    <div class="container">
      <div class="wrap left">
      
        <!-- Slide contents -->
        <div class="grid equal">
          <div class="col-6-12 equalElement left">
            <h2 class="georgeTestSize">{{@root.artists.title}}</h2>
            <p><a href="#">{{@root.artists.portfolioLink}}</a></p>
            <p class="">
              {{@root.artists.description}}</p>
            <div class='col-8-12 right rellax' data-rellax-speed='2.2'>
              <img src="/assets/img/Symbol.svg" alt="" width="400" class="symbol">
            </div>
            
              
          </div>
          
          <div class="col-6-12 equalElement right">
            <img src={{@root.artists.img1.src}} width="660" alt="" class="">
            <h2 class="">{{@root.artists.img1.title}}</h2>
            <p class="">
            <sub>{{@root.artists.img1.year}}<br>
            {{@root.artists.img1.medium}}<br>
            {{@root.artists.img1.size}}<br>
            {{@root.artists.img1.collection}}</sub>
            </p>
          </div>

          {{!--arrow to next page--}}
          {{!--<div class="col-12-12">
            <div class="ae-1 nextSlide">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg>
            </div>
          </div>--}}
      </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>
