
{{> navBar/logoWithSideNav }}

      
        <!-- Slide contents -->
          
        {{#each @root.barrios.portfolioImages}}
          <section class="whiteSlide slide" data-name={{ this.src }}>
            <div class="content">
              <div class="container">
                <div class="wrap">

                  <ul class="flex verticalCenter">

                    <li class="col-1-12 leftArrow prevSlide">&#60;</li>

                      <li class="col-10-12" >
                      <img class="popupTrigger" data-popup-id="contact" src="{{ @global.baseurl }}/assets/barrio/jpg/{{ this.src }}.jpg"  alt='gaspar enriquez, {{ this.title }}'/>
                      </li>

                      <li class="col-1-12 rightArrow nextSlide">&#62;</li>

                      </li>
                    <li class="col-12-12"><h5 class="ae-1">{{ this.title }}</h5></li>
                    <li class="col-12-12"><h5 class="ae-2">{{ this.size }}</h5></li>

                    <li class="col-6-12">
                    {{#if this.print}}
                      <span class="popupTrigger ae-2 popUp" data-popup-id="contact">inquire about purchasing<span>
                    {{/if}}
                    </li>

                    <li class="col-6-12"><span class="ae-2"><a href="barrio-series.html" class="link">Barrio Series</a><span></li>

                  </ul>

                </div>
              </div>
            </div>
          </section>
        {{/each}}

        {{!--popup Contact Form--}}
        <div class="popup animated" data-popup-id="contact">
          <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
          <div class="content">
            <div class="container">
              <div class="wrap spaces">
              
                <h1 class="ae-1">gaspar enríquez - Barrio Series</h1>
                <div class="ae-2"><p>All print are giclee (zhee-klay), and are generated from high resolution digital scans and printed with archival quality inks. </p></div>
                <div class="fix-5-12 margin-top-6">
                  <div class="pad shadow selected ae-3 popupContent">
                    <form action="ajax-email.php" method="post" class="wide center" data-ajax-form="true">
                      <div class="label ae-4 cropTop"><label class="cropTop opacity-5" for="name55">Your name</label></div>
                      <input class="stroke ae-5 wide" id="name55" type="name" name="name" placeholder="Name" required/>
                      <div class="label ae-6"><label class="opacity-5" for="email55">Email address</label></div>
                      <input class="stroke ae-7 wide" id="email55" type="email" name="email" placeholder="Email" required/>
                      <div class="label ae-8"><label class="opacity-5" for="message55">Message</label></div>
                      <textarea class="left ae-9" id="message55" type="text" name="message" placeholder="Message" required></textarea>
                      <input class="button wide pink ae-10 margin-top-2 cropBottom" type="submit" name="submit" value="Send message" data-success-text="Done!" data-success-class="green"/>
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>


