<section class="slide whiteSlide page-3">
  {{> navBar/logoWithSideNav }}
  <div class="content">
    <div class="container">
      <div class="wrap left">

        <!-- Slide contents -->
        <div class="grid equal">
          <div class="col-6-12 equalElement">
            
            <h2 class="georgeTestSize">{{ @root.charros.title }}</h2>
            <p><a href="#">{{ @root.charros.portfolioLink }}</a></p>
            <p class="">{{ @root.charros.description }}</p>
          </div>
          <div class="col-6-12 equalElement left">
            <img src={{ @root.charros.img1.src }} width="100%" alt="">
            <h2 class="">{{ @root.charros.img1.title }}</h2>
            <p class="">
            <sub>{{ @root.charros.img1.year }}<br>
            {{ @root.charros.img1.medium }}<br>
            {{ @root.charros.img1.size }}<br>
            {{ @root.charros.img1.collection }}</sub>
            </p>
          </div>
          
          {{!--arrow to next page--}}
          <div class="col-12-12">
            <div class="ae-1 nextSlide">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg>
            </div>
          </div>

        </div>
      </div><!--end wrap-->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>
