<section class="slide whiteSlide page-6">
  <div class="content">
    <div class="container">
      <div class="wrap left">
      
        <!-- Slide contents -->
        <div class="grid equal">
          <div class="col-6-12 left equalElement">
            <img src={{@root.tattoos.img1.src}} width="100%" alt="" class="">
              <h1 class="">{{@root.tattoos.img1.title}}</h1>
              <p class="">
              <sub>{{@root.tattoos.img1.year}}<br>
              {{@root.tattoos.img1.medium}}<br>
              {{@root.tattoos.img1.size}}<br>
              {{@root.tattoos.img1.collection}}</sub>
              </p>

            
          </div>
          
          <div class="col-6-12 right equalElement">
            <h2 class="georgeTestSize">{{@root.tattoos.title}}</h2>
            <p><a href="#">{{@root.tattoos.portfolioLink}}</a></p>
            <P class="">
            {{@root.tattoos.description}}</p>
          
            <img src="/assets/img/Symbol.svg" alt="" width="600" class="symbol rellax" data-rellax-speed='-.6'>
          </div>

           {{!--arrow to next page--}}
          {{!--<div class="col-12-12">
            <div class="ae-1 nextSlide">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg>
            </div>
          </div>--}}
          
      </div>

      </div><!-- /.wrap -->
    </div>
  </div>
  <!--<div class="background" style="background: rgb(51,49,49);"></div>-->
</section>
